includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  paths:
    - src
  level: 6 # https://phpstan.org/user-guide/rule-levels
  checkMissingIterableValueType: false
  ignoreErrors:
    - '#Access to an undefined property#'
    - '#Call to an undefined method#'
    - '#PHPDoc tag @throws#'
